h3:target {
    animation: highlight 1s ease;
    border-radius: 5px;
    padding:3px;
}

@keyframes highlight {
    from {
        background: rgb(220, 93, 53);
    }

    to {
        background: white;
    }
}

.fa-2x {
    font-size: 2em;
}

.fas {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: white;
}


.main-menu:hover,
nav.main-menu.expanded {
    width:240px;
    overflow: visible;
    border-radius: 10px 0px 0px 10px;
}

.main-menu {
    float: right;
    padding: 0px;
    padding-bottom: 25px;
    padding-right: 5px;
    margin-right: 1px;
    padding-left:10px;
    position: sticky;
    border-radius: 15px 0px 0px 15px;
    line-height: 1rem;
    font-size: .875rem;
    background: #222;
    top: 150px;
    right: 1px;
    width: 60px;
    overflow: hidden;
    transition: width .15s linear;
    z-index: 1000;
    box-shadow: 10px 5px 15px #000 !important;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    text-decoration: none;
    transition: all .15s linear;
    outline: none;
    padding: 0.75em 0.75em 0.75em 1.25em;
    position: relative;
    text-decoration: none !important;
    transition: background 0.15s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: rgb(254, 107, 62);
    background: rgba(24, 24, 24, 0.75);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1 1px #000 !important;
}